APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

API_MDS_KEY=bb4c13915d22f4ab2d8908f0bcd87f83864609a582a2009e74b94b67068fb7d6
API_MDS_URL_INSOL=http://api.mds.gob.ar/api/v2/test_insol/_proc/



